body {
  font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  margin: 0 auto;
  max-width: 82ch;
  padding: 0 1rem;
}

.address {
  text-align: right;
}

p {
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
}

.signature {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f9f9f9;
    color: #040404;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #040404;
    color: #f9f9f9;
  }
}
